.clan-container {
  min-height: 90vh;
}

.clan-container {
  padding: 20px;
  max-width: 100%;
  overflow-x: auto;
}

.clan-container h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.loading,
.error {
  text-align: center;
  font-size: 1.2rem;
}

.error {
  color: red;
}
